{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="blog-header">
            <h1 class="blog-title col-lg-offset-5"><b><i>
                <mark>Best recipies! Do it!</mark>
            </i></b></h1>
        </div>
        <div class="row">
            <div class="col-lg-8 blog-main">
                <h1 class="blog-title col-lg-offset-4">There are no recipies:( But we will add something soon! Don't
                    worry! </h1>
            </div>
        </div>
    </div>

{% endblock %}
